* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  /* border: #000 solid 1px; */
}
a {
  text-decoration: none;
}
.header {
  background-color: #222222;
  color: #fff;
}

.container {
  margin: 0px 150px;
}

.header-line {
  padding-top: 50px;
  padding-bottom: 25px;
  display: flex;
}

.contacts img {
  width: 16px;
  height: 16px;
}

.social-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: 10px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
}

.social-icon-fecebook {
  display: inline-block;
  width: 50px; /* Змініть розмір кнопки, як вам потрібно */
  height: 50px; /* Змініть розмір кнопки, як вам потрібно */
  border-radius: 50%; /* Заокруглені кути для створення круглої форми */
  border: 2px solid white;
  background-color: #ef5050;
  margin-right: 10px; /* Додайте відстань між кнопками */
  text-align: center;
  line-height: 50px; /* Вирівнювання по вертикалі (центрування тексту) */
  color: #fff; /* Змініть колір тексту на потрібний */
  text-decoration: none; /* Видалення підкреслення посилання */
  font-size: 20px; /* Розмір тексту */
}

.navbar {
  margin-top: 10px;
  justify-content: space-between;
  background-color: #ef5050;
}

.navbar a {
  padding: 20px;
  line-height: 60px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-right: 5px;
  font-weight: bold;
}

.navbar a:hover,
.button-get-quote:hover {
  background-color: #f95b5b;
}

.button-get-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  padding-right: 40px;
  cursor: pointer;
  text-align: center;
  background-color: #ef5050;
  font-weight: bold;
  border: none;
}

.send-img {
  margin-right: 10px;
  align-items: center;
}

.header-email {
  line-height: 25px;
  margin-left: 80px;
}
.header-timetable {
  line-height: 25px;
  margin-left: 35px;
}

.phone-img {
  margin-top: 5px;
  margin-left: 35px;
}

.header-phone {
  line-height: 25px;
  margin-left: 20px;
  color: #fff;
}

.header-phone a,
.header-email a,
.header-timetable a {
  color: #fff;
}

.header-phone a {
  font-size: 18px;
  font-weight: bold;
}
.contacts {
  margin-left: auto;
}

.banner-section {
  background: url(/images/audi-photo.jpg) no-repeat;
  background-size: cover;
}

.general-block {
  display: flex;
  flex-direction: column;
  padding-top: 25%;
  padding-bottom: 25%;
  justify-content: center;
  align-items: center;
}

.parallelogram-black {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 75px;
  transform: skew(-20deg);
  background: #222222;
}

.parallelogram-black p {
  /* font-style: normal; */
  font-size: 45px;
  text-align: center;
  color: #fff;
}

.parallelogram-white {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 75px;
  transform: skew(-20deg);
  background: #fff;
}

.parallelogram-white p {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: #000;
}

.info-block p {
  white-space: nowrap;
  margin-top: 20px;
  font-size: 20pt;
  font-weight: 300;
  color: #fff;
}

.button-contact button {
  margin-top: 30px;
  white-space: nowrap;
  display: inline-block;
  background: transparent;
  border: 2px solid #fff; /* Біле обведення */
  padding: 10px 20px; /* Підберіть розмір відступів, який вам підходить */
  cursor: pointer; /* Змінює вигляд курсора при наведенні */
  text-align: center;
  text-decoration: none; /* Забирає підкреслення тексту-посилання */
  color: #fff; /* Білий колір тексту */
  font-weight: bold; /* Жирний текст */
  font-size: 16px; /* Розмір шрифту */
  border-radius: 2px; /* Закруглені кути кнопки */
}

.container-grid-about-carre {
  margin: 100px 150px 100px 150px;
  display: grid;
  grid-template-areas:
    " carre-photo header-name header-name"
    " carre-photo subhead subhead"
    " carre-photo break_checkup-block speed-block"
    " carre-photo inspection-block upgrates-block";
  grid-gap: 10px;
  grid-template-columns: 400px auto;
  grid-template-rows: 70px auto auto;
}

.carre-photo {
  grid-area: carre-photo;
  background-color: #cccccc;
  width: 380px;
  height: 550px;
}

.item {
  padding-left: 10px;
}

.header-name {
  grid-area: header-name;
}

.subhead {
  font-size: 15pt;
  grid-area: subhead;
}

.break_checkup-block {
  display: flex;
  grid-area: break_checkup-block;
}

.inspection-block {
  display: flex;
  grid-area: inspection-block;
}

.speed-block {
  display: flex;
  grid-area: speed-block;
}

.upgrates-block {
  display: flex;
  grid-area: upgrates-block;
}

.header-name h2 {
  font-size: 30pt;
  font-weight: 700;
}

.header-name .red {
  color: #ef5050;
}

.square-red,
.square {
  display: flex; /* Встановіть flex-контейнер */
  justify-content: center; /* Горизонтальне вирівнювання по центру */
  align-items: center; /* Вертикальне вирівнювання по центру */
  min-width: 65px;
  width: 65px;
  height: 60px;
  margin-right: 30px;
  border: 2px solid #dbdbdb;
}

.square-red {
  background-color: #ef5050;
  border: none;
}

.block {
  display: block;
}

.description {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #8b8b8b;
}

.read_more {
  font-weight: 500;
  font-size: 14pt;
  color: #000;
}

.header-command-name {
  font-size: 30pt;
  font-weight: bold;
}

.container-grid-our-team {
  margin: 100px 150px 100px 150px;
  display: grid;
  grid-template-areas:
    " title-name title-name title-name title-name"
    " subtitle subtitle subtitle subtitle"
    " area1 area2 area3 area4";
  grid-gap: 10px;
  grid-template-rows: 70px 100px auto;
  grid-template-columns: auto;
}

.title-name {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: title-name;
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15pt;
  font-weight: bold;
  grid-area: subtitle;
}

.subtitle p {
  text-align: center;
}

.area1,
.area2,
.area3,
.area4 {
  display: flex;
  background-color: #cccccc;
  width: 260px;
  height: 250px;
  margin-right: 0px;
}

.social-networks {
  display: flex;
  margin-top: 20px;
}

.social-icon-general {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ef5050;
  margin-right: 10px;
  line-height: 50px;
}

.our-team p {
  margin-top: 10px;
  margin-bottom: 25px;
}

.our-team h2 {
  margin-top: 20px;
}

.footer1 {
  height: 120px;
  background-color: #ef5050;
}

.container-grid-footer1 {
  display: grid;
  grid-template-rows: repeat(5, auto); /* 5 колонок з однаковим розміром */
  gap: 10px; /* Відстань між зображеннями */
  grid-template-areas: " footer-images footer-images footer-images footer-images footer-images";
  grid-template-columns: auto;
  padding: 30px 150px 0px 150px;
}

.footer-images img {
  width: 150px;
}

.footer-images {
  grid-area: footer-images;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer2 {
  /* width: 1650px; */
  min-height: 620px;
  background-color: #1d1d1d;
}

.container-grid-footer2 {
  padding: 100px 150px 100px 150px;
  display: grid;
  grid-template-areas: " column1 column2 column3 column4";
  grid-gap: 50px;
}

.column1,
.column2,
.column3,
.column4 {
  display: block;
}

.column1 {
  grid-area: column1;
  color: #bebebe;
  font-size: 13pt;
}

.logo {
  display: flex;
}

.logo img {
  padding-right: 15px;
  padding-bottom: 30px;
}

.column2 {
  grid-area: column2;
}
.column2 h2 {
  color: white;
  font-weight: bold;
}

.column2 p {
  margin-left: 30px;
}

.column3 {
  grid-area: column3;
}

.column3 h2 {
  color: white;
  font-weight: bold;
}
.column3 a {
  display: block;
  color: #bebebe;
  margin-top: 30px;
}
.column4 {
  grid-area: column4;
}

.column4 h2 {
  color: white;
  font-weight: bold;
}

.column4 p {
  color: #bebebe;
}

.square-grey {
  min-width: 55px;
  height: 55px;
  background-color: #cccccc;
}

.news1,
.news2,
.news3 {
  display: flex;
  margin-top: 30px;
  color: #bebebe;
}

.gallery {
  display: flex;
  margin-bottom: 30px;
}

.subscribe p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-email {
  display: flex; /* Використовуємо flexbox для розміщення елементів поруч одне з одним */
  align-items: center; /* Вирівнюємо елементи по вертикалі по центру */
}

.input-email input {
  padding: 10px; /* Відстань всередині поля введення */
  width: 260px; /* Заповнює всю доступну ширину контейнера */
  height: 45px; /* Висота поле введення (змініть на потрібну) */
}

.input-email button {
  background-color: #ef5050; /* Колір кнопки */
  cursor: pointer;
  border: none; /* Відключаємо рамку кнопки */
  padding: 10px 20px; /* Відстань всередині кнопки */
  display: flex; /* Використовуємо flexbox для розміщення зображення по центру */
  align-items: center; /* Вирівнюємо зображення по вертикалі по центру */
  height: 45px; /* Висота кнопки (змініть на потрібну) */
}

.input-email img {
  max-width: 100%; /* Зображення зберігає свої пропорції та підлаштовується під розмір кнопки */
  height: auto;
}

hr {
  max-width: 265px;
}

.header-burger {
  display: none;
}

/*MEDIA*/
/* ПК – 1280 px без врахування відступів на скрол та відступів справа та зліва; */
@media screen and (max-width: 1280px) {
  .header-line {
    justify-content: center;
    align-items: center;
  }

  .contacts {
    display: none;
  }
  .container {
    margin: 0;
  }
  .container-grid-about-carre {
    margin: 100px 20px 100px 20px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
  .container-grid-our-team {
    grid-template-areas:
      " title-name  title-name title-name"
      " subtitle  subtitle subtitle"
      " area1 area2 area3"
      " area4 area4 area4";
    margin: 0px 20px 100px 20px;
  }

  .container-grid-footer2 {
    grid-template-areas: " column1 column3 column4";
    grid-gap: 20px;
    padding: 100px 5px 100px 5px;
  }
  .column2 {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .carre-photo {
    width: 190px;
    height: 275px;
  }

  .container-grid-our-team {
    grid-template-areas:
      " title-name title-name"
      " subtitle  subtitle"
      " area1 area2"
      " area3 area4";
    justify-items: center;
  }

  .container-grid-footer1 {
    display: grid;
    grid-template-rows: repeat(5, auto); /* 5 колонок з однаковим розміром */
    gap: 10px; /* Відстань між зображеннями */
    grid-template-areas:
      " footer-images footer-images footer-images"
      "footer-images footer-images";
    grid-template-columns: auto;
    padding: 30px 10px 0px 10px;
  }

  .header-line {
    padding: 25px 5px 25px 5px;
  }

  .header-email {
    margin-left: 30px;
  }

  .header-phone {
    line-height: 25px;
    margin-left: 20px;
    color: #fff;
  }

  .header-logo {
    height: 50%;
  }

  .container-grid-footer2 {
    padding: 100px 20px 100px 20px;
  }
}

/* Планшет 768 px без врахування відступів справа та зліва; */
@media screen and (max-width: 768px) {
  .phone-img {
    display: none;
  }

  .carre-photo {
    display: none;
  }

  .container-grid-footer1 {
    display: grid;
    grid-template-rows: repeat(5, auto); /* 5 колонок з однаковим розміром */
    gap: 10px; /* Відстань між зображеннями */
    grid-template-areas:
      " footer-images footer-images footer-images "
      " footer-images footer-images";
    grid-template-columns: auto;
    padding: 40px 10px 0px 10px;
  }

  .parallelogram-black {
    width: 300px;
    height: 55px;
  }
  .parallelogram-black p {
    font-size: 25px;
  }

  .parallelogram-white {
    width: 400px;
    height: 55px;
  }

  .parallelogram-white p {
    font-size: 25px;
  }

  .info-block p {
    font-size: 10pt;
  }

  .footer-images img {
    width: 90px;
  }

  .subscribe p {
    text-align: center;
    font-size: 11pt;
  }

  .input-email {
    justify-content: center;
    align-items: center;
  }

  .input-email input {
    padding: 10px; /* Відстань всередині поля введення */
    width: 190px; /* Заповнює всю доступну ширину контейнера */
    height: 35px;
  }

  .input-email button {
    padding: 10px 20px; /* Відстань всередині кнопки */
    display: flex; /* Використовуємо flexbox для розміщення зображення по центру */
    align-items: center; /* Вирівнюємо зображення по вертикалі по центру */
    height: 35px; /* Висота кнопки (змініть на потрібну) */
  }

  .container-grid-footer2 {
    grid-template-areas:
      " column1 "
      " column3"
      " column4";
    grid-gap: 20px;
    padding: 30px 5px 100px 5px;
    justify-items: center;
    align-items: center;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo img {
    padding-right: 0px;
    padding-bottom: 10px;
  }

  .column1 p {
    padding: 5px 20px 5px 20px;
    text-align: center;
  }

  .column1 {
    font-size: 11pt;
  }

  .column3 a {
    margin-top: 15px;
    text-align: center;
  }
  .gallery {
    display: none;
  }
  .column4 h2 {
    text-align: center;
  }
  .container-grid-our-team {
    grid-template-areas:
      " title-name"
      " subtitle"
      " area1"
      " area2"
      " area3"
      " area4";
    justify-items: center;
  }
  .header-line {
    padding: 25px 5px 25px 5px;
  }
  .header-line {
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .header-email {
    display: none;
    margin-left: 5px;
  }
  .navbar a {
    padding: 10px;
    line-height: 60px;
    margin-right: 0px;
    font-weight: bold;
  }
  .header-name h2 {
    text-align: center;
    font-size: 20pt;
    font-weight: 700;
  }

  .container-grid-about-carre {
    margin: 50px 10px 100px 0px;
  }
}
/* Смартфони 480 px без врахування відступів справа та зліва; */
@media screen and (max-width: 480px) {
  .subhead {
    font-size: 11pt;
  }
  .square-red,
  .square {
    min-width: 45px;
    height: 45px;
    margin-right: 15px;
  }
}
